@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, monospace;
}

*::selection {
    background-color: #7edc8a;
    color: black;
}

body {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 31, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

a
/* Código para configurar todo el header */

.header {
    height: 15vh;
    padding: 10px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 31, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.header-logo {
    width: 2em;
    height: 2em;
    max-width: 100%;
    height: auto;
}

.container {
    width: 960px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.header-nav li {
    display: inline;
}

.header-nav input {
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-right: 50px;
}

.header-nav a {
    display: inline-block;
    padding: 0.3em 0.3em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}

input {
    background-color: #848484;
}

input:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

#busqueda {
    border-style: none;
    outline: none;
}

/* Animación del logo */

@keyframes logo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.header-logo:hover {
    animation: logo 1.5s infinite linear;
}

.botonHeader {
    margin: 5px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #848484;
}

.botonHeader:hover {
    background-color: #7edc8a;
    transition: 0.2s;
    cursor: pointer;
}

/* Estilo para los títulos */

.titulos {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: auto;
    color: #ffffff;
}

/* Código para las tarjetas */

img {
    width: 200px;
    height: 300px;
}

.productoTarjeta {
    padding: 10px;
}

.boton {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border-radius: 0px;
    border: white;
    background-color: white;
    font-weight: bold;
}

.boton:hover {
    background-color: black;
    color: white;
    border: black;
    transition: 0.5s;
    cursor: pointer;
}

#contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 31, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.producto {
    color: white;
    border: #191717 solid 1px;
    background-color: #191717;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 202px;
}

/* Codigo para el carrito */

#carrito {
    z-index: 10;
    width: 17rem;
    height: 95vh;
    margin-top: 20px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    background-color: #191717;
    border: rgb(49, 49, 49) solid 1px;
    transition: transform .4s ease-in-out;
}

.oculto {
    transform: translateX(-100%);
}

@keyframes carrito {
    from {
        width: 0%;
    }

    to {
        width: 17rem;
    }
}

.itemCarrito {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    padding: 10px;
    color: white;
    background-color: #191717;
}

#btnBorrar {
    margin: 5px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #848484;
}

#btnBorrar:hover {
    background-color: red;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

/* Estilos para cada <p> de las tarjetas */

main div div h5 {
    color: #7edc8a;
    font-size: large;
}

/* Estilos para cada <p> del carrito */

body div div p {
    padding: 5px;
}

body div div p:last-child {
    color: #7edc8a;
    font-weight: bold;
}

body div div p:first-child {
    color: #ffea00;
    font-weight: bold;
}

body div h3:nth-child(1) {
    color: #11ff00;
    display: flex;
    justify-content: center;
}

/* Código para el footer */

footer {
    background-color: #ffffff;
    min-height: 12vh;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto-footer {
    padding: 1em;
    color: rgb(0, 0, 0);
}